/*Footer.css*/
footer {
	border-top: 0.125em solid var(--green-dk);
	display: flex;
	height: 2em;
	width: 100%;
}
footer > div {
	margin: 0 auto;
}
footer > div::after {
	content: "\00a9 2019";
}

/* @media screen and (max-width: 900px) { */
	/* footer > div::after { */
		/* content: "\00a9 2019"; */
	/* } */
/* } */