/*Footer.css*/
footer {
	border-top: 2px solid var(--gray-low-opacity);
	display: flex;
	height: 96px;
	margin-top: auto;
}
footer > div {
	margin: 0 auto;
	padding: 32px 0;
}
footer > div::after {
	content: "Copyright 2019";
}
nav.collapsed > footer > div::after {
	content: "\00a9 2019";
}

/*footer media queries*/
@media screen and (max-width: 900px) {
	footer > div::after {
		content: "\00a9 2019";
	}
}