/*Text.css*/
.text-container {
	display: block;
	min-width: 16em;
	max-width: 56em;
	overflow: visible;
	opacity: 0;
	transform: translateY(-0.5em);
	transition: transform ease 0.4s, opacity ease 1s;
}
.text-container.mounted {
	opacity: 1;
	transform: translateY(0);
}
header {
    font-size: 3.6em;
    font-family: geomanistlight;
    margin-bottom: -0.24em;
    margin-top: -0.24em;
}
h3 {
    font-size: 2em;
	margin-top: -0.3em;
	font-family: geomanistbook;
}
p {
	font-size: 1.2em;
	line-height: 1em;
	font-family: geomanistregular;
}
.accent {
	color: var(--green-lt);
}

@media screen and (max-width: 824px) {
	header {
		font-size: 2.6em;
	}
	h3 {
		font-size: 1.8em;
	}
}
/*
@media screen and (max-width: 676px) {
	header {
		font-size: 2em;
	}
	h3 {
		font-size: 1.2em;
	}
}
*/