/*Text.css*/
.text-container {
	display: block;
	min-width: 16em;
	max-width: 56em;
	overflow: visible;
}
header {
    font-size: 3.6em;
    font-family: geomanistlight;
    margin-bottom: -0.24em;
    margin-top: -0.24em;
}
h3 {
    font-size: 2em;
	margin-top: -0.3em;
	font-family: geomanistbook;
}
p {
	font-size: 1.2em;
	line-height: 1em;
	font-family: geomanistregular;
}
.accent {
	color: var(--green-lt);
}