/*Nav.css*/
nav {
	display: grid;
	grid-template-rows: 96px auto 96px;
	grid-gap: 32px;
	z-index: 2;
	position: relative;
	transition: all cubic-bezier(.68,-0.55,.27,1.55) 0.4s;
	border-right: 2px solid var(--gray-low-opacity);
	border-radius: 2px;
	font-family: 'Sanchez', serif;
}
nav.collapsed {
	width: 108px;
}
nav > div:first-child {
	position: relative;
}
nav > div:first-child > img {
	max-height: 100%;
}
.nav-links {
	height: 12rem;
	padding-left: 37px;
    margin: 0;
}
a.nav-link {
    height: 2.4rem;
    display: flex;
}
.nav-link > div {
    width: 100%;
    margin: auto;
	display: flex;
}
.collapse-btn {
	position: absolute;
	top: 0;
	right: 0;
}
nav a {
	text-decoration: none;
	color: inherit;
	display: block;
}
.nav-link > div > p > span {
	position: relative;
}
.nav-link > div > p > span::after {
    content: "";
    display: inline-block;
    height: 0px;
    width: 0px;
    background-color: var(--blue-lt);
    border-radius: 100%;
    margin-left: 8px;
	transition: all ease 0.4s;
}
.nav-link > div > svg {
    max-height: 100%;
    width: 2rem;
    margin: auto 0;
}

/*nav media queries*/
@media screen and (max-width: 900px) {
	nav {
		width: 108px;
	}
}
@media screen and (max-width: 420px) {
	nav {
		width: 60px;
	}
	.nav-links {
		padding-left: 13px;
	}
	.collapse-btn {
		display: none;
	}
}