/*Page.css*/
.page {
	background: rgb(232,231,231);
	padding-top: 80px;
}
main {
    margin: 64px auto;
	max-width: 75%;
	min-width: 320px;
}
.flex-div {
	display: flex;
	flex-direction: row;
	flex-overflow: overflow;
}
@media only screen and (max-width: 720px) {
	.flex-div {
		flex-direction: column;
	}
	.flex-div > div {
		width: 100%;
		padding-bottom: 24px;
	}
}
.flex-div > div {
	margin: auto;
	width: 45%;
	min-width: 320px;
}