/*ProjectCard.css*/
.project-card {
	display: grid;
	grid-template-rows: 1fr 1fr;
	padding: 16px;
	background-color: #fff;
	width: 320px;
	height: 240px;
	cursor: pointer;
	transition: all ease 0.2s;
	color: inherit;
	text-decoration: none;
}
.project-card:hover {
	transform: scale(1.1);
}
.project-card-img {
	overflow: hidden;
}
.project-card-img > img {
	overflow: hidden;
	max-width: 100%;
}