/*Main.css*/

main {
    min-width: 26em;
}

/*media queries*/

@media (max-width: 812px) {
    main {
        font-size: 13px;
    }
}

@media (max-width: 670px) {
    main {
        font-size: 11px;
        min-width: 20em;
    }
}