/*Blog.css*/

.blog-post,
.blog-root {
    overflow-y: scroll;
}

.blog-post>div>a {
    text-decoration: none;
    color: inherit;
    position: relative;
    display: block;
    transition: all ease 0.2s;
}

.blog-post>div>a:hover,
.blog-post>div>a:active {
    margin-left: 6.75em;
}

.blog-post>div>a:hover::after,
.blog-post>div>a:active::after {
    content: "\2190 Back to ";
    position: absolute;
    left: -4.75em;
    font-family: "Playfair Display";
    font-weight: 800;
    font-size: 1.35em;
    top: 0;
    color: var(--pink-dk);
}