/*Nav.css*/
nav {
	display: ms-grid;
	display: grid;
	grid-template-rows: 118px auto 96px;
	z-index: 2;
	position: relative;
	transition: all cubic-bezier(.68,-0.55,.27,1.55) 0.4s;
	border-right: 2px solid var(--gray-low-opacity);
	border-radius: 2px;
	font-family: 'Sanchez', serif;
	background-color: var(--smoke);
}
nav.collapsed {
	width: 108px;
}
nav > div {
	padding: 16px;
}
nav > div:first-child {
	position: relative;
	border-bottom: 2px solid var(--gray-low-opacity);
}
nav > div:first-child > img {
	max-height: 100%;
}
#nav-links {
	min-height: 10em;
}
#nav-links > a {
    height: 2em;
	display: -ms-flexbox;
    display: flex;
	text-decoration: none;
	color: inherit;
	display: block;
}
.collapse-btn {
	position: absolute;
	top: 0;
	right: 0;
}
.nav-link > div > p > span {
	position: relative;
}
/* #nav-links > a::after { */
    /* content: ""; */
    /* display: inline-block; */
    /* height: 0px; */
    /* width: 0px; */
    /* border-radius: 100%; */
    /* margin-left: 8px; */
	/* transition: all ease 0.4s; */
/* } */
/* #nav-links.blue > a::after { */
    /* background-color: var(--blue-lt); */
/* } */
/* #nav-links.slate-gray > a::after { */
    /* background-color: var(--slate-gray); */
/* } */
/* #nav-links.brown > a::after { */
    /* background-color: var(--brown-lt); */
/* } */
/* #nav-links.purple > a::after { */
    /* background-color: var(--purple-lt); */
/* } */
/* #nav-links.green > a::after { */
    /* background-color: var(--green-lt); */
/* } */
/* #nav-links > a:hover::after { */
	/* height: 12px; */
	/* width: 12px; */
/* } */
.nav-link > div > svg {
    max-height: 100%;
    width: 2rem;
    margin: auto 0;
}

/*nav media queries*/
@media screen and (max-width: 900px) {
	nav {
		width: 80px;
		grid-template-rows: 78px auto 96px;
	}
	nav > div {
		padding: 0.6em;
	}
}
@media screen and (max-width: 420px) {
	nav {
		width: 60px;
		grid-template-rows: 58px auto 96px;
	}
	nav > div {
		padding: 0.4em;
	}
}