* {
	box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
	height: 100%;
}
a > img {
    max-width: 100%;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}
.box-shadow {
	box-shadow: 0 2px 6px -1px #7f8c8d;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}