:root {
	--base-color: #1c1b20;
	--green-dk: #14564B;
	--green-lt: #1D8171;
	--blue-dk: #1E4F71;
	--blue-lt: #2D76AA;
	--purple-dk: #80114F;
	--purple-lt: #AA1769;
	--brown-lt: #B56457;
	--brown-dk: #884B41;
	--black-one: #383838;
	--black-two: #3C3C3B;
	--gray: #8A8A89;
	--gray-low-opacity: rgba(138, 138, 136, 0.6);
	--slate-gray: #37393d;
	--smoke: #FAFAFA;
}
* {
	box-sizing: border-box;
	overflow: hidden;
}
body, html {
    padding: 0;
    margin: 0;
	height: 100vh;
	color: var(--black-one);
}
div.app {
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: geomanistregular;
	background-color: var(--smoke);
}
.box-shadow {
	box-shadow: 0 2px 6px -1px #7f8c8d;
}