:root {
	--base-color: #1c1b20;
	--green-dk: #14564B;
	--green-lt: #1D8171;
	--blue-dk: #1E4F71;
	--blue-lt: #2D76AA;
	--purple-dk: #80114F;
	--purple-lt: #AA1769;
	--brown-lt: #B56457;
	--brown-dk: #884B41;
	--black-one: #383838;
	--black-two: #3C3C3B;
	--gray: #8A8A89;
	--gray-low-opacity: rgba(138, 138, 136, 0.6);
	--smoke: #ECF0F1;
}
* {
	box-sizing: border-box;
	overflow: hidden;
}
body, html {
    padding: 0;
    margin: 0;
	height: 100vh;
	color: var(--black-one);
}
div.app {
	height: 100vh;
	margin: 0;
	padding: 0;
}
.app-container {
	height: 100%;
	display: grid;
	grid-template-columns: 340px auto;
}
.app-container > main, .app-container > nav {
	overflow: auto;
}
main {
	z-index: 3;
	position: relative;
}
main.slate-gray {
	background: rgb(55,57,61);
	background: radial-gradient(circle, rgba(55,57,61,1) 33%, rgba(37,38,39,1) 100%);
}
.main-bg {
	z-index: 2;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}
.fade-in.slow {
	animation-duration: 1s;
	animation-name: fadeInSlow;
}
.box-shadow {
	box-shadow: 0 2px 6px -1px #7f8c8d;
}
hr {
	color: var(--gray-low-opacity);
	margin: 0;
}


/*app media queries*/
@media screen and (max-width: 900px) {
	.app-container {
		grid-template-columns: auto auto;
	}
}
@media screen and (max-width: 420px) {
	.app-container {
		grid-template-columns: auto 1fr;
	}
}