/*Nav.css*/
nav {
    display: flex;
    justify-content: center;
    height: 100%;
}
.nav-brand {
    display: flex;
    margin: 2em auto;
    min-width: 2em;
    max-width: 8em;
}
.nav-brand > img {
    max-height: 100%;
    width: 100%;
}
.nav-border {
    display: flex;
    position: absolute;
}
.nav-border > div {
    background-color: var(--green-dk);
}
.nav-border-right > div {
    height: 100%;
}
.nav-border-bottom > div {
    width: 100%;
}
.nav-border-right {
    flex-direction: row;
    height: 100%;
    top: 0;
    right: 0;
}
.nav-border-right > div:first-child {
    width: 0.25em;
    margin-right: 0.25em;
}
.nav-border-right > div:nth-child(2) {
    width: 0.125em;
}
.nav-border-bottom {
    flex-direction: column;
    width: 100%;
    bottom: 0;
    margin-left: -0.95em; /*needed to offset margin from container*/
}
.nav-border-bottom > div:first-child {
    height: 0.25em;
    margin-bottom: 0.125em;
}
.nav-border-bottom > div:nth-child(2) {
    height: 0.125em;
}

.nav-menu-hamburger {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 2.625em;
    height: 2.625em;
}
.nav-menu-hamburger-lines {
    cursor: pointer;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}
.nav-menu-hamburger-lines > div {
    display: block;
    width: 0;
    height: 0.25em;
    /*border: 0.0625em solid var(--green-dk);*/
    border-radius: 0.5em;
    background-color: var(--green-dk);
    transition: width ease 0.3s;
}
.nav-menu-hamburger-lines > div:nth-child(1) {
    transition-delay: 0.2s;
}
.nav-menu-hamburger-lines > div:nth-child(2) {
    transition-delay: 0.3s;
}
.nav-menu-hamburger-lines > div:nth-child(3) {
    transition-delay: 0.4s;
}
.nav-menu-hamburger-lines.mounted > div {
    width: 100%;
}

@media screen and (max-width: 576px) {
    .nav-brand {
        margin: 1em auto;
        max-height: 2.625em;
    }
}