/*Root.css*/

.page.root {
    display: flex;
    height: 100%;
    width: 100%;
}

.accent-block-expanded {
    position: absolute;
    transition: all ease 0.4s;
}

.accent-block-expanded.blue {
    background-color: var(--blue);
}

.accent-block-expanded.pink {
    background-color: var(--pink);
}

.page.root h1 {
    font-size: 3em;
}